<!-- Holds all calendars to wide width -->
<div class = "container-semi" >
  <!-- Buttons \o/ -->
  <button type="button" class="btn btn-success" ng-click="calendarCtrl.startPicking()" ng-show="!calendarCtrl.isRunning()">Start</button>
  <button type="button" class="btn btn-warning" ng-click="calendarCtrl.stopPicking()"  ng-show="calendarCtrl.isRunning()">Pause</button>
  <button type="button" class="btn btn-danger"  ng-click="calendarCtrl.resetPicking()" ng-show="calendarCtrl.isRunning()">Reset</button>
  <!-- Trimester "Rows" -->
  <div class="row" ng-repeat="t in [0,4,8]">
    <br>
    <!-- Months "Columns" -->
    <div class="col-md-3" ng-repeat="m in [1,2,3,4]">
      <!-- Month panel -->
      <div class="panel panel-default">
        <div class="panel-heading">{{calendarCtrl.getMonth(t+m)}}</div>
        <!-- Month Calendar -->
        <div class="panel-body">
          <!-- Week "row" -->
          <div class="row seven-cols" ng-repeat="w in [0,7,14,21,28]">
            <!-- Day "coloumns" -->
            <div class="col-lg-1 " ng-repeat="d in [1,2,3,4,5,6,7]" ng-show="calendarCtrl.isDate((t+m),(w+d))">
              <span class="label label-default" ng-show="!calendarCtrl.isPicked((t+m),(w+d))">{{(w+d) }}</span>
              <span class="label label-primary" ng-show="calendarCtrl.isPicked((t+m),(w+d))">{{(w+d) }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
